<%= index_header%>

<div>
    <br>
        <%= render partial: "comment", collection: @comments, as: :c %>
    <br>
        <%= link_to "Create A New Comment", new_song_comment_path(@song) if @song %>
    <br>
    <br> 
</div>